 
 body{
    background-image:url('../assets/Sign_up1.jpg');
    filter: brightness(.8);
    filter:saturate(90%);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .card{
    width:400px;
    margin: 120px;
    padding-top: 20px;
    
 }

 #eye,
 #Right_wrong {
     position: absolute;
     top: 10px;
     bottom: 5px;
     right: 12px;
     height: 8px;
     width: 8px;
     color: black;
     z-index: 100;
 }
 
 .form-outline{
    border-bottom: 2px solid rgb(14, 15, 14);
 }
 .form-outline label {
     transform: translateY(-50%);
     transition: .5s ease;
     pointer-events: none;
 }

 .form-outline input:focus~label,
 .form-outline input:valid~label {
     top: -10px;
 }
 .gradient-custom-2 {
     /* fallback for old browsers */
     background: #fccb90;

     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
 }

 @media (min-width: 768px) {
     .gradient-form {
         height: 100vh !important;
     }
 }

 @media (min-width: 769px) {
     .gradient-custom-2 {
         border-top-right-radius: .3rem;
         border-bottom-right-radius: .3rem;
     }
 }

 #Box{
    background-color: #fffefead;
 }

 #login:hover,
 #Create:hover{
    color:blue;
 }

 #Create{
    background: linear-gradient(to right,#ffffff,#f3f0c5,#faf9a1,#fdf36a);
 }
  

 #Forgot_Pass{
    color: rgb(39, 2, 247);
 }