Flask==2.1.1
gunicorn
flask-pymongo==2.3.0  # Use the appropriate version of Flask-PyMongo
pyrebase4==4.5.0  # Use the appropriate version of Pyrebase
pytz==2022.5
flask-cors # Use the appropriate version of Flask-CORS
flask-session  # Use the appropriate version of Flask-Session
gridfs # Use the appropriate version of GridFS
pymongo  # Use the appropriate version of PyMongo
